@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

html {
	background-color: black;
}

body {
	font-family: 'Kanit', sans-serif;
	border-radius: 15px;
	max-width: 1920px;
	margin: auto;

}

ul {
	margin: 0px;
	padding: 0px;
  }
  
  a {
	color: black;
	text-decoration: none;
	font-family: sans-serif;
  }
  
  
  #logo {
    display: flex;
    align-items: center;
    color: #fff;
    position: relative;
}
h1#loja {
	font-size: 2.5em;
    position: relative;
    left: 5%;
	font-family: 'Oswald', sans-serif;
}
  
#header {
	width: 70%;
    margin: auto;
    background-color: #000000;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    z-index: 1;
}
  
  #menu {
	display: flex;
	gap: 0.5rem;
	text-align: center;
  }
  
  #menu a {
	display: block;
	padding: 0.5rem;
  }
  
  #btn-mobile {
	display: none;
  }
  
.menu-names {
	font-family: 'Oswald', sans-serif;
	position: relative;
	font-size: 0.8em;
	margin: 0;
	right: 0vw;
	visibility: visible;
}
.bt:hover .menu-names {
	transition: 600ms;


}
.bt:hover{
transition: .5s ease;
color:#ff5f00;
border-top: 1px solid #ff5f00;

}



  @media (max-width: 835px) {
	#menu {
	  position: absolute;
	  right: -15%;
	  visibility: hidden;
	}
	.menu-names {
		visibility: hidden;
	}
	#fundo-horario {
		display: block;
		margin-left: auto;
		visibility: hidden;
	}
	#nav.active #menu{
		display: flex;
		top: 59px;
		overflow-y: auto;
		animation-name: hide-menu;
		animation-duration: 0.6s;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
		position: absolute;
		background-color: black;

	}
	@keyframes hide-menu {
		0% {
			opacity: 0;
			transform: translateY(-110%);
			visibility: hidden;
		}
		50% {
			transform: translateY(-15%);
			opacity: .3;

		}
		100% {
			opacity: 1;
			visibility: visible;
		}
	}

	#menu a {
		display: inline-flex;
		margin-top: 3px;
		flex-direction: column;
	}
	#btn-mobile {
		display: flex;
		padding: 1rem 1rem;
		background: none;
		cursor: pointer;
		color: white;
		border: none;
	}
	#hamburger {
	  border-top: 2px solid;
	  width: 20px;
	}
	#hamburger::after,
	#hamburger::before {
	  content: '';
	  display: block;
	  width: 20px;
	  height: 2px;
	  background: currentColor;
	  margin-top: 5px;
	  transition: 0.5s;
	  position: relative;
	}
	#nav.active #hamburger {
	  border-top-color: transparent;
	}
	#nav.active #hamburger::before {
	  transform: rotate(135deg);
	}
	#nav.active #hamburger::after {
	  transform: rotate(-135deg);
	  top: -7px;
	}
  }
.hora {
	display: flow-root;
    margin: auto 0;
    user-select: none;
    padding: 8px;
    position: relative;
    left: 3%;
}

#fundo-horario {
	display: block;
	margin-left: auto;
}

.countdown {
	display: inline-flex;
	color: #ff5f00;
	font-family: 'Kanit', sans-serif;
	font-size: 18;
	margin: auto;
	max-width: 100%;
}

.horario::after {
	content: ":";
}

.catalog {
	display: flex;
}

.menu {
	margin: 20px auto;
	padding-bottom: 10%;
}

.main {
	max-width: 300px;
	height: 110%;
}

nav {
	position: relative;
    display: inline-flex;
    max-height: 50px;
    height: 100%;
}

nav img {
	margin: 6px auto;
}

nav a {
	margin: auto;
	display: flex;
	z-index: 1;
	color: whitesmoke;
	cursor: pointer;
	justify-content: center;
}

.titulo {
	margin: 10px;
	text-align: center;
	font-size: 30px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

section .card-wrapper {
	width: 51%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));
    grid-gap: 7.5rem;
    position: relative;
    top: 5em;
    margin: auto;
}

section .card-item {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.card-content {
	margin-bottom: -25%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.card-item img {
	width: 300px;
	height: 300px;
	border-radius: 15px;
	object-fit: contain;
	transform: translateY(15px)
}

.card-item img:hover{
	transform: scale(1.2);
	position: relative;
	border: none;
	padding-bottom: 2em;
	transition: all 300ms ease;
}
#imagem::after {
	content: "";
	z-index: 1000;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 10px;
	height: 100%;
	background-color: #ecf0f1;
}

.card-item h3 {
	width: auto;
	height: auto;
	padding: 5px;
	text-align: center;
	border: 1px solid #ff5f00;
	border-radius: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 19px;
	transform: translateY(13px);
}

.card-item button {
	font-family: 'Kanit', sans-serif;
	width: 100;
	height: 30;
	border: none;
	background: #191919;
	border: 1px solid white;
	border-radius: 60px;
	color: whitesmoke;
	font-size: 0.7em;
	cursor: pointer;
	transition: 0.5s ease;
	margin-bottom: 20px;
}

.card-item button:hover {
	background: #ff5f00;
	color: black;
	border: none;
	border-radius: 13px 0px 13px 0px;
}

@media only screen and (max-width: 462px) {
	#header {
		display: flex;
		margin: auto;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	#nav.active #menu{
		top: 125%;
		flex-wrap: wrap;
	}
	.hora, .horario, #segundos {
		font-size: 16px;
		position: relative;
		top: 25%;
	}
	#logo, #logo img {
		font-size: 0.8em;
		width: 42px;
    	height: auto;
	}
	#menu a {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
